In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
# Load in DataFrame
stroke_df = pd.read_csv("Resources/adult.csv")
stroke_df.head()

,id,gender,age,hypertension,heart_disease,ever_married,avg_glucose_level,bmi,stroke,govt_worker,never_worked,private_worker,self_employed,rural_residence,urban_residence,smoking_unknown,former_smoker,never_smoked,current_smoker
0,9046,1,67.0,0,1,1,228.69,36.6,1,0,0,1,0,0,1,0,1,0,0
1,31112,1,80.0,0,1,1,105.92,32.5,1,0,0,1,0,1,0,0,0,1,0
2,60182,0,49.0,0,0,1,171.23,34.4,1,0,0,1,0,0,1,0,0,0,1
3,1665,0,79.0,1,0,1,174.12,24.0,1,0,0,0,1,1,0,0,0,1,0
4,56669,1,81.0,0,0,1,186.21,29.0,1,0,0,1,0,0,1,0,1,0,0

In [3]:
# Export Selected Columns to CSV Files
individual_columns = ['id','age','gender','ever_married']
stroke_df.to_csv("Resources/individual.csv", index=False, columns=individual_columns)

In [4]:
employment_columns = ['id','govt_worker','never_worked','private_worker','self_employed']
stroke_df.to_csv("Resources/employment.csv", index=False, columns=employment_columns)

In [5]:
cardio_columns = ['id','stroke','bmi','avg_glucose_level','hypertension','heart_disease']
stroke_df.to_csv("Resources/cardiovascular.csv", index=False, columns=cardio_columns)

In [6]:
housing_columns = ['id','rural_residence','urban_residence']
stroke_df.to_csv("Resources/housing.csv", index=False, columns=housing_columns)

In [7]:
smoking_columns = ['id','smoking_unknown','former_smoker','never_smoked','current_smoker']
stroke_df.to_csv("Resources/smoking.csv", index=False, columns=smoking_columns)